@font-face {
    font-family: "varCircle";
    src: url("../fonts/varCircleGX.ttf") format("truetype");
}

body {
	background-color: black;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	color: white;
	font-family: varCircle;
	overflow: hidden;
}

@keyframes mymove {
    from {font-variation-settings: "wght" 100;}
    50% {font-variation-settings: "wght" 1000;}
    to {font-variation-settings: "wght" 100;}
}

#wrap {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	display: block;
}

#varClock {
	font-size: 20vw;
	font-weight: normal;
	padding: 0;
	text-align: center;
}

#anim1, #anim2, #anim3, #anim4 {
		animation: mymove infinite linear;
}
