@font-face {
    font-family: "nb-logo";
    src: url("../fonts/next-bookVF.ttf") format("truetype");
}

body {
	background-color: papayawhip;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	color: black;
	font-family: nb-logo;
	overflow: hidden;
}

@keyframes bounce {
    from {font-variation-settings: "wght" 1, "SFGT" 1; }
    12.5% {font-variation-settings: "wght" 1, "SFGT" 1; }
    25% {font-variation-settings: "wght" 1000, "SFGT" 1; }
    37.5% {font-variation-settings: "wght" 1000, "SFGT" 1; }
    50% {font-variation-settings: "wght" 1000, "SFGT" 1000; }
    62.5% {font-variation-settings: "wght" 1000, "SFGT" 1000; }
    75% {font-variation-settings: "wght" 1, "SFGT" 1000; }
    87.5% {font-variation-settings: "wght" 1, "SFGT" 1000; }
    to {font-variation-settings: "wght" 1, "SFGT" 1; }
}

#wrap {
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#text {
	font-size: 15vw;
	font-weight: normal;
	padding: 0;
	margin: 0;
	display: block;
	align-self: center;
	z-index: 255;
}

#text {
		animation: bounce ease-in-out infinite;
		animation-duration: 4s;
}

#circle {
	background-color: slateblue;
	position: absolute;
	top: max(calc(50vh - 25vw), 25vh);
	left: max(calc(50vw - 25vh), 25vw);
	height: min(50vh, 50vw);
	width: min(50vh, 50vw);
	border-radius: 50%;
	z-index: 0;
}


#text span {
	display: inline-block;
	width: 40vw;
	text-align: left;
}

#text span:first-of-type {
	text-align: right;
}