<html lang="cs">

<head>
	<meta charset="UTF-8">
	<title>still testing</title>
	<link rel="stylesheet" type="text/css" href="/style/style.css">

</head>

<body>
	<div id="wrapper" class="white">
		{{ partial "header" . }}

		{{ range $index, $num := (seq 20) }}
			<img src="/images/perspective/text.outline.svg" class="perspective" style="transform: translateZ(-{{ sub 15 $index }}px) scale({{ add 1 (mul (sub 15 $index) 0.1) }}); padding-top: {{ mul 0.5 (sub 15 $index) }}vw; padding-left: {{ mul 0.5 (sub 15 $index) }}vw;">
		{{ end }}

		<img src="/images/perspective/text.black.svg" id="L0" class="perspective">

		<h2 id="subheading">grafický design <img src="/images/perspective/leftRightArrow.svg" class="arrow"> typografie</h2>

		<div id="portfolioList">
			{{ range sort (where .Site.Pages ".Params.class" "portfolio") ".Params.index" "desc" }}
			<div class="portfolioItem">
				<a href="{{ .URL }}" class="portfolioLink black" style="background: url(/images/portfolio/ikony/{{ .File.TranslationBaseName }}.jpg) center center no-repeat; background-size: cover;">
					<span class="overlay">
						<span class="projectName">{{.Title}}</span> 
						<span class="projectType">— {{ print $.Page.Params.projectType }}</span>
					</span>
				</a>
			</div>
			{{ end }}
		</div>
	</div>

</body>