{{ partial "head" . }}

</head>

<body class="white">
	{{ partial "header" . }}
	<div id="cover" >
		<h2 id="subheading">grafický design <br />+ typografie</h2>
	</div>

		<div id="portfolioList">
			{{ range sort (where .Site.Pages ".Params.class" "portfolio") ".Params.index" "desc" }}
			<div class="portfolioItem">
				<a href="{{ .URL }}" class="portfolioLink black" style="background: url(/images/portfolio/ikony/{{ .File.TranslationBaseName }}.jpg) center center no-repeat; background-size: cover;">
					<span class="overlay">
						<p>
							<span class="projectName">{{ .Title }}</span> <br /> 
							<span class="projectType">{{.Params.projecttype}}</span>
						</p>
					</span>
				</a>
			</div>
			{{ end }}
			<div style="clear: both"><div>
		</div>
	</div>

</body>