{{ partial "head" . }}

</head>

<body class="white">
	{{ partial "header" . }}
	<h1>{{ .Title }}</h1>

	<div class="module description">
		<div class="info">

			<p id="projectClient">klient: {{.Params.projectclient | markdownify}}</p>
			<p id="projectType">typ: {{ delimit .Keywords ", " }}</p>
			<p id="projectYear">rok: {{.Params.projectyear}}</p>
		</div>

		<div class="perex">
			{{ .Content }}
		</div>
		<div style="clear: both;"></div>
	</div>

		{{ $bgcolor := .Params.bgcolor }}

		<div class="module gallery columns">
			{{ $fileName := .File.TranslationBaseName }}
			{{ range (readDir (print "/static/images/portfolio/" $fileName)) }}
				{{ $imageExt := index (split .Name ".") 3 }}
				{{ if eq $imageExt "gif" }}
					<img src="/images/portfolio/{{ $fileName }}/{{ .Name }}" class="gif" style="background-color: {{ $bgcolor }}">
				{{ else if eq $imageExt "jpg" }}
					<img src="/images/portfolio/{{ $fileName }}/{{ .Name }}" >
				{{ else }}
				{{ end }}
			{{ end }}
			<div style="clear: both;"></div>
		</div>
	</div>
</body>