{{ partial "head" . }}

</head>

<body>
	{{ partial "header" . }}
	<div id="description" class="white">

		<div class="bio">
			<h2 id="projectName">{{ .Title }}</h2>

			<h3 id="projectClient">klient: {{.Params.projectclient}}</h3>
			<h3 id="projectType">typ: {{.Params.projecttype}}</h3>
			<h3 id="projectYear">rok: {{.Params.projectyear}}</h3>
		</div>

		<div class="perex">
			{{ .Content }}
		</div>
		<div style="clear: both;"></div>
	</div>

		{{ $bgcolor := .Params.bgcolor }}

		<div class="gallery twoCol">
			{{ $fileName := .File.TranslationBaseName }}
			{{ range (readDir (print "/static/images/portfolio/" $fileName)) }}
				{{ $imageExt := index (split .Name ".") 2 }}
				{{ if eq $imageExt "gif" }}
					<img src="/images/portfolio/{{ $fileName }}/{{ .Name }}" class="gif" style="background-color: {{ $bgcolor }}">
				{{ else if eq $imageExt "jpg" }}
					<img src="/images/portfolio/{{ $fileName }}/{{ .Name }}" >
				{{ else }}

				{{ end }}
			{{ end }}
			<div style="clear: both;"></div>
		</div>
	</div>
</body>