<html lang="cs">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>still testing</title>
	<link rel="stylesheet" type="text/css" href="/style/style.css">
</head>

<body>
	<div id="wrapper" class="white">
		{{ partial "header" . }}

		<div class="perex">
			<h2 class="black">{{ .Title }}</h2>
			{{ .Content }}
		</div>

		{{ $bgcolor := .Params.bgcolor }}

		<div class="gallery twoCol" style="background-color: {{ $bgcolor }}">
			{{ $fileName := .File.TranslationBaseName }}
			{{ range (readDir (print "/static/images/portfolio/" $fileName)) }}
				{{ $imageExt := index (split .Name ".") 2 }}
				{{ if eq $imageExt "gif" }}
					<img src="/images/portfolio/{{ $fileName }}/{{ .Name }}" class="gif" style="background-color: {{ $bgcolor }}">
				{{ else }}
					<img src="/images/portfolio/{{ $fileName }}/{{ .Name }}" >
				{{ end }}
			{{ end }}
			<div style="clear: both;"></div>
		</div>
	</div>
</body>