{{ partial "head" . }}

</head>

<body>
	{{ partial "header" . }}
	<div id="description" class="white">

		<div class="name">
			<h2>{{ .Title }}</h2>
		</div>

		<div class="perex">
			{{ .Content }}
		</div>
		<div style="clear: both;"></div>
	</div>

	<div class="gallery">
		{{ $fileName := .File.TranslationBaseName}}
		{{ range (readDir (print "/static/images/portfolio/" $fileName)) }}
			<img src="/images/portfolio/{{ $fileName }}/{{ .Name }}">
		{{ end }}
		<div style="clear: both;"></div>
	</div>
</body>