<div id="header" class="white">
	<a id="title" href="{{ .Site.BaseURL }}">still testing</h1>
	<div id="menu">
		<a class="menuItem" href="{{ .Site.BaseURL }}">portfolio</a>
		<a class="menuItem" href='{{ ref . "kdoJsem.md" }}'>kdo jsem</a>
		<a class="menuItem" href='{{ ref . "contact.md" }}'>kontakt</a>
	</div>
</div>

<script>
var prevScrollPos = window.pageYOffset;
var countScrollDown = 0;
var countScrollUp = 0;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollPos > currentScrollPos) {
    if (countScrollUp > 25) {
    	document.getElementById("header").style.top = "0";
    	countScrollUp = 0;
    } else {
    	countScrollDown = 0;
    	countScrollUp++;
    }
  } else {
    if (countScrollDown > 25) {
    	document.getElementById("header").style.top = "-250px";
    	countScrollDown = 0;
    } else {
    	countScrollUp = 0;
    	countScrollDown++;
    }
  }
  prevScrollPos = currentScrollPos;
}
</script>