#wrapper {
	display: flex;
	align-items: center;
}

#content {
	width: 100vw;
}

#PT-H1 {
	text-align: center;
	font-size:	5vw;
	line-height: 5.5vw;
}

.PT-link {
	text-align: center;
	font-size: 3vw;
	line-height: 3.5vw;
}