@font-face {
    font-family: "varNumbers";
    src: url("../fonts/varNumbersGX.ttf") format("truetype");
}

@keyframes bounce {
    from {font-variation-settings: "wdth" 100;}
    50% {font-variation-settings: "wdth" 1000;}
    to {font-variation-settings: "wdth" 100;}
}

#wrapper {
	overflow: hidden;
}

#clockWrapper {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	display: block;
	margin-top: -4vw;
}

#varClock {
	font-size: 40vw;
	font-weight: normal;
	padding: 0;
	text-align: center;
	font-family: varNumbers;
}

#anim1, #anim2, #anim3, #anim4 {
		animation: bounce infinite;
}
