/** VARIABLES **/
:root {
	--offWhite: #F8F6F1;
	--black: #000;
	--blue: #0000E4;
}

body {
	font-family: "indivisible-variable";
	font-weight: 500;

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	font-size: clamp(18px, calc(18px + 12 * ((100vw - 480px) / 2520)), 30px);
}

/** COLORS **/
.white {
	background-color: var(--offWhite);
	color: var(--black);
}

.blue {
	background-color: var(--blue);
	color: var(--offWhite);
}

/** CLEARS **/
a, a:hover, a:visited {
	color: var(--black);
}

a.menuItem, a.title {
	text-decoration: none;
}

/**TYPOGRAPHY**/
h2, h3, p, ul, li {
	font-size: 1em;
	line-height: 1.3em;

	font-variation-settings: "wght" 475;
}

.perex p, .menuItem, .title {
	font-size: 1.5em;
	line-height: 1.3em;

	font-variation-settings: "wght" 475;
}

h1 {
	display: block;
	text-align: center;

	font-size: clamp(3em, calc(4em - 30 * (30px - 1em) / 12), 4em);;
	line-height: 1.3em;

	text-transform: uppercase;
	font-variation-settings: "wght" 350;

	max-width: 50em;
	margin: 3em auto 3em auto;
}

h2 {
	margin: 2em 0 1em 0;
}

h3 {
	margin: 1.5em 0 0 0;
}

p {
	margin: 0;
}

.menuItem, .title, h2, .projectName {
	text-transform: uppercase;
}

.perex p, p, li {
	max-width: 50ch;
}

.projectName {
	font-size: 2em;
	line-height: 1.2em;
	font-variation-settings: "wght" 600;
}

.contact h1 {
	font-size: 5.5vw;
}

/**EMPHASIS**/
.lowercase {
	text-transform: none;
}

.italic {
	font-style: italic;
}

.medium {
	font-weight: 400;
}

/** STRUCTURE **/
.module {
	display: grid;

	box-sizing: border-box;
	
	width: 100%;

	margin: 0;
	padding: 1em;
}

.headline {
	justify-content: center;
	width: 100%;
}

.description, .cv {
	align-items: baseline;
	justify-items: stretch;

	grid-template-columns: repeat(auto-fill, minmax(min(100%, max(30em, calc((100% - 2em) /2))), 1fr));
	column-gap: 2em;
	margin-bottom: 5em;
}

.info {
	margin-bottom: 3em;
}

.gallery {
	gap: 0.5em;
}

.gallery img {
	width: 100%;
}

.columns {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, max(500px, calc((100% - 1em) /3))), 1fr));
}

/** PORTFOLIO LIST **/
.portfolioList {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, max(500px, calc((100% - 1.5em) /4))), 1fr));
	gap: 0.5em;
	margin-top: 90vh;
}

.portfolioItem {
	width: 1fr;
	aspect-ratio: 1 / 1;
}

.portfolioItem a, .overlay {
	display: block;
	width: 100%;
	height: 100%;

	text-decoration: none;
	text-align: center;

	color: var(--offWhite);
}

.overlay {
	display: flex;
	flex-wrap: wrap;
	gap: 0;

	box-sizing: border-box;
	padding: 3em;

	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0);
	opacity: 0%;

	transition: opacity ease-in-out 250ms;
}

a:hover .overlay {
	opacity: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.projectName, .projectType {
	display: block;
	position: relative;
	width: 100%;
}

/** CONTACT **/

.contact {
	width: 100vw;
	height: 100vh;

	align-items: center;
	justify-content: center;
}

/**TRADE INFO**/
#tradeInfo {
	position: absolute;
	width: 46.5vw;
	margin-left: 50.5vw;
	bottom: 3vh;
	color: white;
}

#tradeInfo h3, #tradeInfo p {
	margin: 0;
	padding: 0;
}

/** MENU **/
.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	box-sizing: border-box;
	width: 100%;
	padding: 1em;

	position: fixed;
	top: 0;

	z-index: 255;
}

.menu {
	display: flex;
	column-gap: 2em;
	row-gap: 0em;
	margin: 0;

	flex-wrap: wrap;
	justify-content: flex-end;
}

.menu li {
	list-style: none;
}

.header .title, .header .menuItem {
	line-height: 1em;
}

.header a:hover, .header li:hover {
	animation: wiggle 250ms infinite;
}

@keyframes wiggle {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(5deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}

/**COVER**/
#cover {
	width: 100vw;
	height: 90vh;

	box-sizing: border-box;

	position: absolute;
	top: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 5vh 0 0 0;
	background-color: #0000e4;

	color: white;
	font-family: StillTestingLogo;
	z-index: 0;
}

/**COVER ANIMATION**/
@font-face {
    font-family: "StillTestingLogo";
    src: url("../fonts/StillTestingLogotypeVF.ttf") format("truetype");
}

#stillTestingLogo {
	font-size: 20vw;
	line-height: 20vw;
	font-weight: normal;
	padding: 0;
	margin: 0;
	text-align: center;
	z-index: 1;
}

.anim1 {
	animation: 5s bounce infinite;
}

.anim2 {
	animation: 5s rebounce infinite;
}

#background {
	position: absolute;
	box-sizing: border-box;
	padding-top: 5vh;
	top: 0;
	width: 100vw;
	height: 90vh;
	color: #ff5e00;
	display: flex;
	align-items: center;
	justify-content: center;
}

#circles {
	font-size: min(50vw, 80vh);
	margin: 0;
	padding: 0;
}

@keyframes bounce {
    from {font-variation-settings: "DFRM" 1;}
    50% {font-variation-settings: "DFRM" 1000;}
    to {font-variation-settings: "DFRM" 1;}
}

@keyframes rebounce {
    from {font-variation-settings: "DFRM" 1000;}
    50% {font-variation-settings: "DFRM" 1;}
    to {font-variation-settings: "DFRM" 1000;}
}

/** MEDIA QUERIES **/
@media screen and (max-width: 700px) {
	.menu {
		flex-direction: column;
	}

	a.menuItem {
		width: 100%;
	}

	h1 {
		margin: 4em auto 1em auto;
	}

	.description {
		margin-bottom: 3em;
	}
}