@font-face {
    font-family: SpaceGrotesk;
    src: url(../fonts/SpaceGrotesk-Medium.woff);
    font-weight: Normal;
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(../fonts/SpaceGrotesk-Bold.woff);
    font-weight: Bold;
}

body {
	font-family: "Aktiv-Grotesk-Extended";

	width: 100%;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
	height: 100vh;

	overflow-x: hidden;
	perspective: 10px;
	perspective-origin: 50% 50%;
}
/**a:not([class]) {
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 0.05em;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	transition: all 0.4s ease;
}

a:not([class]):hover {
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}**/

/**COLOR**/
.white {
	background-color: white;
	color: black;
}

.white a.menuItem, .white a {
	color: black;
}

.black, .portfolioLink.black {
	background-color: black;
	color: white;
}

.black a.menuItem, .black a {
	color: white;
}

.black .menuItem:after {
	background-color: white;
}

.white .menuItem:after {
	background-color: black;
}

/**HEADER**/

#header {
	width: 100vw;
	display: block;
	box-sizing: border-box;
	padding: 1vw 3vw 0.5vw 3vw;
	position: fixed;
	z-index: 255;
	transition: transform 1s ease;
}

.scrollUp {
 	transform: translateY(-150px)
}

#title, .menuItem {
	font-size: 1.5vw;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

#title {
	padding: 0;
	margin: 0;
	float: left;
	width: 46.5vw;
}

#menu {
	float: left;
	width: 46vw;
	margin-left: 1vw;
}

.menuItem {
	padding-right: 1em;
	float: left;
	position: relative;
}

.menuItem:after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	margin: 0.3vw auto 0 auto;
	transition: width 0.2s ease;
	position: relative;
}

.menuItem:hover:after{
	width: 75%;
}

/**PERSPECTIVE**/
.perspective {
	position: absolute;
	width: 50vw;
	margin: auto;
	padding-bottom: 20vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#cover {
	width: 100vw;
	height: 95vh;
	max-height: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0;
	background: url(../images/cover/cover.gif) center center no-repeat;
	background-color: #4000ff;
	background-size: contain;
}

/**SUBHEADING**/
#subheading {
	font-size: 4vw;
	line-height: 4.5vw;
	text-align: center;
	color: white;
}

.arrow {
	display: inline-block;
	width: 13vw;
	position: relative;
	top: 0.3vw;
}

/**PORTFOLIO LIST**/
#portfolioList {
	width: 100vw;
	box-sizing: border-box;
	padding-top: 1vw;
	padding-left: 1vw;
}

.portfolioItem {
	display: block;
	width: 32vw;
	margin: 0 1vw 1vw 0;
	height: 28vw;
	float: left;

	overflow: hidden;
}

.portfolioLink{
	display: block;

	width: 100%;
	height: 100%;

	position: relative;
	float: left;

	text-decoration: none;

	-webkit-transition: all 4s ease;
    -moz-transition: all 4s ease;
    -o-transition: all 4s ease;
    transition: all 4s ease;
}

/**.portfolioLink:hover {
	padding: 50px;
	margin: -50px;
}**/

.overlay {
	display: flex;
	align-items: flex-start;

	box-sizing: border-box;
	width: 100%;
	height: 100%;

	padding: 2vw 3vw;

	background-color: rgba(0, 0, 0, 0);

	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.portfolioLink:hover .overlay {
		background-color: rgba(0, 0, 0, 0.5);
}

.projectName, .projectType {
	font-size: 1.8vw;
	line-height: 2.3vw;
	color: rgba(255, 255, 255, 0);;

	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.projectName {
	font-weight: Bold;
}

.portfolioLink:hover .projectName, .portfolioLink:hover .projectType {
	color: rgba(255, 255, 255, 1);;
}

/**
.portfolioItem:after {
	content: "";
	position: absolute;
	display: block;
	box-sizing: border-box;

	width: 40vw;
	height: 25vw;
	border: 1px solid black;
	margin: 10px 0 0 10px;
	top: 0;
	left: 0;
}
**/

/**PORTFOLIO PAGE**/

#description {
	width: 94vw;
	margin: 0 3vw 0 3vw;
	display: flex;
	align-items: baseline;
	padding: 200px 0 200px 0;
	font-size: 2vw;
}

.bio {
	width: 46.5vw;
	float: left;
}

.bio h2 {
	font-size: 3vw;
	line-height: 4vw;
	margin: 0 0 2vw 0;
}

.bio h3 {
	font-size: 2vw;
	line-height: 3vw;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.perex {
	box-sizing: border-box;
	display: block;
	float: left;
	width: 46.5vw;
	margin-left: 1vw;
	padding: 0;
	font-weight: normal;
}

.perex p {
	line-height: 3vw;
	margin: 0;
}

.gallery {
	width: 99vw;
	margin: 0 0 0 1vw;
}

.gallery img {
	width: 98vw;
	float: left;
	margin-bottom: 1vw;
}

.gallery.twoCol img {
	width: 48.5vw;
	margin: 0 1vw 1vw 0;
}

.gallery.twoCol img.gif {
	box-sizing: border-box;
	padding: 5%;
	width: 48.5vw;
	margin: 0 1vw 1vw 0;
}

.fullscreen {
	display: block;
	width: 100vw;
	height: 100vh;
}

iframe.fullscreen {
	border: none;
}

/**CONTACT**/

#contact {
	display: block;
	position: absolute;
	width: 90vw;
	height: 8vw;
	font-size: 6.5vw;
	text-align: center;
	margin: auto;
	top: 0;
	bottom:  0;
	left: 0;
	right: 0;
	font-weight: bold;
}

#contact p {
	padding: 0;
	margin: 0;
}

/**CV**/
#cv {
	display: block;
	box-sizing: border-box;
	width: 46.5vw;
	margin: 0 3vw 0 0;
	float: right;
	padding-bottom: 30vh;
}

#cv h2 {
	margin-top: 2em;
}

#cv ul, #cv li, #cv h2 {
	font-size: calc(14px + 0.3vw);
	line-height: 1.7em;
}

#cv li, #cv h2 {
	margin: 0 0 1.7em 0;
}

#cv .rok {
	display: inline-block;
	width: 18vw;
	margin-left: -18vw;
	font-weight: bold;
}

#cv p, #cv ul, #cv li {
	font-weight: Normal;
}

#cv ul {
	list-style: none;
	padding-left: 0;
}

#cv li ul {
	padding-left: 9vw;
}

@media screen and (max-width: 700px) {
	
	/**FONT SIZE**/

	#title, .menuItem, .perex p, .bio h2, .bio h3  {
		font-size: 24px;
		line-height: 1.25em;
	}

	/**HEADER**/

	.menuItem {
		margin: 0 25% 0 0;
		padding: 0;
		float: left;
	}


	/**PERSPECTIVE**/

	.perspective {
		width: 80vw;
	}

	#cover {
		background-size: contain;
	}

	/**SUBHEADING**/

	#subheading {
		font-size: 10vw;
		line-height: 12vw;
	}

	.arrow {
		width: 80px;
	}

	/**PORTFOLIO LIST**/

	.portfolioItem {
		width: 98vw;
		height: 75vw;
	}

	.projectName {
		margin-top: 30vw;
	}

	.projectName, .projectType {
		font-size: 24px;
		line-height: 1.25em;
	}

	/**PORTFOLIO PAGE**/

	#description {
		flex-direction: column;	
	}

	.bio, .perex {
		width: 100%;
	}

	.perex {
		margin-left: 0;
	}

	.bio {
		margin-bottom: 1em;
	}

	.gallery.twoCol img {
		width: 98vw;
	}

	/**CV**/
	#cv {
		width: 90vw;
		margin: 0 5vw 0 5vw;
	}

	#cv ul {
		padding-left: 1.5em;
	}

	#cv ul, #cv li, #cv h2 {
		font-size: 16px;
	}

	#cv li:before {
		width: 1.5em;
		margin-left: -1.5em;
	}

	#cv .rok {
		width: 100%;
		margin-left: 0;
	}
}