@font-face {
    font-family: SpaceGrotesk;
    src: url(../fonts/SpaceGrotesk-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(../fonts/SpaceGrotesk-Regular.otf);
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: SpaceGrotesk;

    align-items: baseline;

    font-size: 8vh;
    line-height: 9.25vh;
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.top, .bottom {
    box-sizing: border-box;
    width: 100%;
    padding: 5vh 5vw 5vh 5vw;
    position: absolute;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.top {
    top: 0;
    z-index: 2;
}

.bottom {
    bottom: 0;
    z-index: 3;
}

h1 {
    font-size: 1em;
    font-weight: normal;
    color: white;
    margin: 0;
    padding: 0;
}

.autor {
    display: block;

}

.titul {
    display: block;
    font-weight: bold;
}

h2 {
    font-size: 0.8em;
    font-weight: normal;
    color: white;
    margin: 0;
    padding: 0;
}

.nakladatel {
    font-variant-caps: all-small-caps;
    font-feature-settings: "case" on;
}

.underline {
    display: inline-block;
    box-sizing: border-box;

    margin-top: 1.5vh;

    width: 100%;
    height: 3.125vh;
}

.full {
    background-color: white;
}

.outline {
    border: solid white 0.625vh;
    margin-top: 0.7vh;
}



.composition {
    width: 80vw;
    height: 56vh;

    max-width: 75vh;
    max-height: 60vw;

    position: relative;
    z-index: 1;
}

.vector-graphic {
    width: 56vh;
    height: 56vh;

    max-width: 60vw;
    max-height: 60vw;

    position: absolute;
}

.vector-graphic::shadow .main {
    width: 100%;
    height: 100%;
}

.star {
    right: 0;
}

.dots {
    left: 0;
}

.main {
    width: 100%;
    height: 100%;
}

@media (max-aspect-ratio: 1/1) {
    body {
        font-size: 8vw;
        line-height: 9.25vw;
    }

    .underline {
        margin-top: 1.5vw;
        height: 3.125vw;
    }

    .outline {
        border: solid white 0.625vw;
        margin-top: 0.7vw;
    }
}