@font-face {
    font-family: SpaceGrotesk;
    src: url(../fonts/SpaceGrotesk-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(../fonts/SpaceGrotesk-Regular.otf);
    font-weight: normal;
}

@font-face {
	font-family: CapekCover;
	src: url(../fonts/CapekCoverAGX.ttf);
}

body {
	padding: 0;
	margin: 0;
	font-size: 23px;
	line-height: 1,52em;
	display: flex;
	width: 100vw;
	height: 100vh;
	padding-top: 0;
	justify-content: center;
	align-items: center;
	background: black;
}

#cover {
	width: min(100vw, 200vh);
	height: min(167vw, 100vh);
	display: block;
	box-sizing: border-box;
	padding: 6vh;
	background: black;
	position: relative;
	overflow: hidden;
}

#author_title {
	font-family: SpaceGrotesk;
	color: white;
	font-size: 1.3vw;
	line-height: 3.04em;

	display: block;
	position: absolute;
	bottom: 6vh;
	left: 6vh;

	margin-bottom: -1.1em;
}

#author, #title {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#author {
	font-weight: normal;
}

#title {
	font-weight: bold;
}

#cover img {
	position: absolute;
}

#dots {
	top: 6vh;
	left: 6vh;

	object-position: left;
}

#star {
	right: 6vh;
	bottom: 6vh;
	width: min(45vh, 35vw);
}

#A {
	font-family: CapekCover;
	color: white;
	text-align: center;
	font-size: 88vh;
}

#arrow {
	top: 6vh;
	right: 6vh;

	object-position: right;
}

#arrow, #dots {
	object-fit: cover;

	height: min(22vh, 19vw);
	width: min(29vw, 50vh);
}




@media (max-aspect-ratio: 1/1) {

	#cover {
		padding: 8vw 8vw 8vw 8vw;
	}

	#arrow, #dots {
		width: max(calc(40vw - 10vh), 26vw);
	}


	#A {
		font-size: calc(100vh - 44vw);
	}

	#author_title {
		font-size: 1.5vh;
	}


	#author_title {
		font-size: 2.5vw;
		bottom: 8vw;
		left: 8vw;
	}

	#star {
		bottom: 8vw;
		right: 8vw;
	}

	#dots {
		top: 8vw;
		left: 8vw;
	}

	#arrow {
		top: 8vw;
		right: 8vw;
	}
}

@media (min-aspect-ratio: 2/1) {
	#author_title {
		font-size: 2.6vh;
	}	
}

@media (max-aspect-ratio: 9/15) {

	#A {
		font-size: 123vw;
	}
}